@import "../../theme/global";

.scoreboardContainer {
  @include flexCenter;
  flex: 0 20% 40%;
  flex-direction: column;
  border-radius: 5%;
  padding: 1%;
  height: 100%;

  @media (max-width: $tablet) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: $mobile) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.shipsContainer {
  min-width: 20em;
  @media (max-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.playerScore {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $player1;

  &[data-player="2"] {
    background-color: $player2;
  }

  h2 {
    font-size: 2.5em;
    margin: 0;

    @media (max-width: $tablet) {
      font-size: 2em;
    }

    @media (max-width: $mobile) {
      font-size: 1em;
    }
  }

  hr {
    width: 80%;
    border-color: $black;
    @media (max-width: $mobile) {
      margin: 0.2em;
    }
  }

  h5 {
    margin: 0;
    font-size: 1.2em;

    @media (max-width: $tablet) {
      font-size: 1em;
    }
  }
}

.playerScoreContainer {
  @include flexCenter;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2.5%;
  height: 10em;
  min-width: 10em;
  @media (max-width: $tablet) {
    height: 9em;
  }

  @media (max-width: $mobile) {
    height: 100%;
  }
}

.shipContainer {
  @include flexCenter;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;

  .shipImg {
    width: 40%;

    @media (max-width: $tablet) {
      width: 4em;
    }

    @media (max-width: $mobile) {
      width: 3em;
    }
  }
}

.countContainer {
  @include flexCenter;

  margin-left: 5%;
  position: relative;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  img {
    width: 2em;

    @media (max-width: $tablet) {
      width: 1em;
    }
  }
}
