@import "../../theme/global";

.tileContainer {
  width: 100%;
  height: 100%;
  margin: auto;
}

.tile {
  @include flexCenter;
  width: 100%;
  height: 100%;
  border: 1px solid $black;
  background-color: $white;
  cursor: pointer;

  &[data-filled="true"] {
    pointer-events: none;
  }
}
